/* Her laster jeg inn skrifttypene jeg skal bruke */

@font-face {
    font-family: "bebas_neueregular";
    src: url("assets/fonts/bebasneue-regular-webfont.woff") format('woff2'),
         url("assets/fonts/bebasneue-regular-webfont.woff2") format('woff');
    font-weight: normal;
    font-style: normal;

}

/*Dette er det generelle designet av nettsiden som er basert utfra mobilskjerm. Alt som designes her går til alle skjermstørrelsene */

@media screen and (max-width: 600px), (min-width: 600px) and (max-width: 960px), (min-width: 960px) {

/* Endrer skrifttypen hele nettsiden starter med i mobilstørrelsebn */
    
* {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: #191608;
    margin: 0; 
    line-height: 1.5;
}

/*Justerer skriften for overskrifter i forhold til hovedskriften og legger til noen marginer på overskrifter og paragrafer */

h1, h2, h3 {
    font-family: bebas_neueregular, Arial, sans-serif;
    margin: 1rem 1rem 1rem;
}

p {
    margin: 1rem 1rem 1rem; 
}

h1 {
    font-size: 4rem;
    text-align: center;
}

.fun-page-content h1 {
    font-size: 2.2rem;
    text-align: left;
}

h2 {
    font-size: 2.2rem;
}

h3 {
    font-size: 1.5rem;
}

/* Her designes navigasjonsbaren på nettsiden. */

nav {
    padding: 1rem;
    grid-area: header;
}

nav ul {
    margin-left: -2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

nav li {
    list-style-type: none;
}

/* Her blir det gjort justeringer på hvordan lenker oppfører seg slik at de er mer synlige og enkle å brukle */

a {
    padding: 0.5rem;
    color: #191608;
    font-family: bebas_neueregular, Arial, sans-serif;
    font-size: 1.25rem;
} 

a:hover {
    text-decoration: underline;
    color: #fe3137;
}

/* Design av hele nettsiden. Har laget ett grid system for nettsiden slik at header er i toppen, innholdet i midten og footer på bunn. Har også lagt til en bakgrunnsfarge. */

body {
    display: grid;
    grid-template-rows: 5% 90% 5%;
    grid-template-columns: 1fr;
    grid-template-areas: 
    "header"
    "content"
    "footer";
    background: #e9a17b;
}

/* Dette er designet av selve innholdet på nettsiden når det bare brukes en kolonne. */

.content {
    width: 95vw;
    margin-right: auto;
    margin-left: auto;
    background-color: #f5f2e3;
    grid-area: content; 
    border: solid #191608;
}

/* Designer de ulike delene av innholdet og endre bilder til å passe inn på siden */

.content div {
    margin: 1rem 1rem 1rem;
    padding: 1rem 1rem 1rem;
}

.content img {
    object-fit: cover;
    display: block;
    margin: auto; 
    max-width: 100%;
    max-height: 100%;
}

/* Dette designer hvordan innholdet ser ut i to kolonner */

.two-column-content {
    width: 95vw;
    min-height: 90vh;
    margin-right: auto;
    margin-left: auto;
    background-color: #f5f2e3;
    grid-area: content; 
    border: solid #191608;
}

.two-column-content div {
    margin: 1rem 1rem 1rem;
    padding: 1rem 1rem 1rem;
}

/* Dette er de ulike boksene i grid systemet. Her bli designet og plasseringen bestemt. */

.box-2, .box-3 {
    border-bottom: 1px solid #404042;
    box-shadow: 0 0 1px 0 #404042;
    border: solid #191608
}

.box-4 img {
    object-fit: cover;
    display: block;
    margin: auto; 
    max-width: 100%;
    max-height: 100%;
}

.box-5 {
    display: none;
}

.box-5 img {
    display: none; 
}

/*Designet av innholdet til den kreative nettsiden, spesifikt for mobilstørrelse i en enkel kolonne. */

.fun-page-content {
    margin: 0 1rem 1rem; 
    min-height: 90vh;
    grid-area: content; 
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-column-gap: 1rem;
    grid-row-gap: 1rem;
    grid-template-areas: 
        "text-1"
        "picture-1"
        "text-2"
        "picture-2"
        "text-3"
        "picture-3"
        "text-4"
        "picture-4";
}

/*Her bestemmes plasseringen til de ulike boksene på den kreative siden og bildene blir designet */

.fun-page-content img {
    object-fit: cover;
    display: block;
    margin: auto; 
    max-width: 100%;
    max-height: 100%;
}

.text-1 {
    grid-area: text-1;
    background-color: #95ccd5;
    box-shadow: 10px 10px 10px #404042;
    border: solid #191608;
}

.text-2 {
    grid-area: text-2;
    background-color: #2785c9;
    box-shadow: 10px 10px 10px #404042;
    border: solid #191608;
}

.text-2 p, .text-2 h1, .text-3 p, .text-3 h1 {
    color: #f5f2e3;
}

.text-3 {
    grid-area: text-3;
    background-color: #2b3579;
    box-shadow: 10px 10px 10px #404042;
    border: solid #191608;
}

.text-4 {
    grid-area: text-4;
    background-color: #f5f2e3;
    box-shadow: 10px 10px 10px #404042;
    border: solid #191608;
}

.picture-1 {
    grid-area: picture-1;
}

.picture-2 {
    grid-area: picture-2;
}

.picture-3 {
    grid-area: picture-3;
}

.picture-4 {
    grid-area: picture-4;
}

.box-3 ul {
    list-style: none;
}

/* All denne koden er for å designe de ulike punktene på listen på hjemmesiden. */

.box-3 ul li:nth-child(1):before {
    content: "🏈";
       width: 1rem;
       margin-left: -2rem
}

.box-3 ul li:nth-child(2):before {
    content: "🏃";
       width: 1rem;
       margin-left: -2rem
}

.box-3 ul li:nth-child(3):before {
    content: "🏋";
       width: 1rem;
       margin-left: -2rem
}

.box-3 ul li:nth-child(4):before {
    content: "💻";
       width: 1rem;
       margin-left: -2rem
}

.box-3 ul li:nth-child(5):before {
    content: "🍲";
       width: 1rem;
       margin-left: -2rem
}

.box-3 ul li:nth-child(6):before {
    content: "🏎";
       width: 1rem;
       margin-left: -2rem
}

.box-3 ul li:nth-child(7):before {
    content: "🍷";
       width: 1rem;
       margin-left: -2rem;
}

.box-3 ul li:nth-child(8):before {
    content: "⛷";
       width: 1rem;
       margin-left: -2rem
       
}

/* Design av bunnen på nettsiden */

.footer {
    grid-area: footer; 
    text-align: center;
    padding: 1rem; 
}

/* Design av knappen man kan trykke på for å gå tilbake til toppen */

#btnScrollToTop {
    position: fixed;
    right: 10px;
    bottom: 10px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: #ffffff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
    color: #ffffff;
    border: none;
    outline: none;
    cursor: pointer;
}

}

/* Designet for tablet skjermstørrelser og større */

@media screen and (min-width: 600px) and (max-width: 960px), (min-width: 960px) {

/* Litt endring av skriftstørrelse og margin til å passe større skjerm */

    * {
        font-size: 16px;
    }

    nav a {
        margin: 0.75rem;
    }

    /* Design og grid løsingen for to kolonner som brukes på hjemmesiden */

    .two-column-content {
        width: 90vw; 
        margin: 0 auto 0; 
        grid-area: content; 
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 200px 1fr 1fr;
        grid-template-areas: 
        "box-1 box-1"
        "box-2 box-3"
        "box-4 box-5";
        grid-row-gap: 1rem;
        border: solid #191608;
    }

    /* Justerer bredden på innholdet og bestemmer hvor boksene skal være i de to kolonnene */

    .content {
        width: 90vw;
        margin: 0 auto 0; 
    }

    .box-1 {
        grid-area: box-1;
    }
    
    .box-2 {
        grid-area: box-2;
        box-shadow: 10px 10px 10px #404042;
    }
    
    .box-3 {
        grid-area: box-3;
        box-shadow: 10px 10px 10px #404042;
    }

    .box-4 {
        grid-area: box-4;
    }

    .box-5 {
        grid-area: box-5; 
        display: block;
    }

    .box-5 img {
        display: inline-block;
        object-fit: cover;
        display: block;
        margin: auto;
        max-width: 100%;
        max-height: 100%;
    }

    /* Design av grid systemet som brukes på kreative siden */

    .fun-page-content {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        grid-template-areas: 
        "text-1 picture-1"
        "picture-2 text-2"
        "text-3 picture-3"
        "picture-4 text-4";
    }
}

/* Design for skjermer større enn 960 piksler */

@media screen and (min-width: 960px) {

    /* Justerer skriftstørrelsen og bredden på innholdet til å passe skjermstørrelsen */

    * {
        font-size: 24px;
    }

    .two-column-content {
        width: 85vw; 
    }

    .content {
        width: 85vw;
    }
}